
  <div class="row">
    <div class="col">

      <% chatrooms.each do |chatroom| %>
        <ul class="list-group">
          <li class="list-group-item">
            
            <div class="d-flex align-items-center position-relative">
              <div><%= image_tag chatroom.item.image.url, size: "100x100" if chatroom.item.image? %></div>
              
              <div class="col-3 col-sm-2 ml-3">
                <div class="text-truncate"><%= chatroom.item.name %></div>
                <div><%= link_to '詳細を見る', item_path(chatroom.item), class: "small" %></div>
                <div class="small">出品者：<%= link_to chatroom.exhibitor.name, profile_show_user_path(chatroom.exhibitor_id) %></div>
                <div class="small">受取人：<%= link_to chatroom.wanter.name, profile_show_user_path(chatroom.wanter_id) %></div>
              </div>
     
              <div class="ml-3 position-absolute" style="bottom: 0;right: 0;">
                <%= link_to chatroom_path(chatroom.id) do %>
                  <i class="far fa-comment-dots h3 text-secondary"></i>
                <% end %>
              </div>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>


<%= paginate chatrooms %>