<h2>メッセージ</h2>
<h5>出品者：<%= link_to @chatroom.exhibitor.name, profile_show_user_path(@chatroom.exhibitor_id) %></h5>
<h5>受取人：<%= link_to @chatroom.wanter.name, profile_show_user_path(@chatroom.wanter_id) %></h5>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @message, local: true) do |f| %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :chatroom_id, value: @chatroom.id %>
      <div class="form-group">
        <%= f.text_area :content, class: 'form-control', size: "100x10" %>
      </div>
      
      <div class="mb-3 d-flex justify-content-center">
        <%= f.submit '送信する', class: 'btn btn-primary rounded-pill'%>
      </div>
    <% end %>
    
    <ul>
      <% @messages.each do |message| %>
        <li class="media border">
          <%  if message.user.image? %>
            <%= image_tag message.user.image.url, size: "50x50" %>
          <% else%>
            <%= image_tag "default.png", size: "50x50" %>
          <% end %>
          <div class="media-body">
            <div class="mt-2 ml-2">
              <%= link_to message.user.name, profile_show_user_path(message.user) %> <span class="text-muted">posted at <%= message.created_at %></span>
            </div>
            <div class="ml-1">
              <p><%= simple_format(message.content) %></p>
            </div>
            <div class="mb-1">
              <% if current_user == message.user %>
                <%= link_to "削除", message, method: :delete, data: { confirm: "本当に削除してもよろしいですか?" }, class: 'btn btn-danger btn-sm' %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
    
  </div>
</div>