<% if current_user.id == @user.id %>
<h2 class="mb-5">本人情報変更</h2>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
        <div class="form-group">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, class: 'form-control' %>
        </div>
        
        <div class="d-flex justify-content-center">
        <%= f.submit '編集完了', class: 'btn btn-primary rounded-pill'%>
        </div>
        
    <% end %>
  </div>
</div>
<% end %>