<h2 class="my-5">マイプロフィール編集</h2>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with model: @user, url: profile_update_user_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="d-flex justify-content-center">
        <%= image_tag @user.image.url, class: "rounded-circle", size: "250x250" if @user.image? %>
      </div>
      <div class="field d-flex justify-content-center my-2">
        <%= f.file_field :image %>
      </div>
      
      <p class="h3 mt-3 mb-5 text-center"><%= @user.name %></p>
      
      <div class="mt-5 form-group">
          <%= f.label :self_introduction, '自己紹介', class: 'h5' %>
          <%= f.text_area :self_introduction, placeholder: "300文字以内", class: 'form-control', size: "100x10" %>
      </div>
      
      <div class="mt-5 d-flex justify-content-center">
        <%= f.submit '編集完了', class: 'mb-3 btn btn-primary rounded-pill'%>
      </div>
    <% end %>
    
  </div>
</div>