<h2 class="my-5">出品アイテム一覧</h2>

  <div class="row">
    <div class="col">
      
      <% @items.each do |item| %>
        <ul class="list-group">
          <li class="list-group-item">
          
            <div class="d-flex align-items-center">
              <div><%= image_tag item.image.url, size: "100x100" if item.image? %></div>
            
              <div class="col-3 col-sm-2 ml-3">
                <p class="text-truncate"><%= item.name %></p>
                <div><%= link_to "詳細を見る", item_path(item) %></div>
              </div>
            
              <div class="mr-auto"></div>
            
              <% unless item.done == nil %>
                <div class="text-nowrap px-1 rounded border border-danger text-danger">
                  <%= item.done %>
                </div>
              <% end %>
            </div>
          </li>
        </ul>
      <% end %>
    </div>
  </div>

<%= paginate @items %>