<h2 class="my-5">アイテム情報</h2>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    
    <table class="table table-bordered">
      <thead>
        <div class="d-flex justify-content-center border p-3"><%= image_tag @item.image.url, size: "250x250" if @item.image? %></div>
      </thead>
      <tbody>
        <tr>
          <th class="text-nowrap">アイテム名</th>
          <td>
            <%= @item.name %>
          </td>
        </tr>
        <tr>
          <th class="text-nowrap">出品者</th>
          <td><%= link_to @item.user.name, profile_show_user_path(@item.user) %></td>
        </tr>
        <tr>
          <th class="text-nowrap">カテゴリー</th>
          <td><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="text-nowrap">キャンパス</th>
          <td><%= @item.area.name %></td>
        </tr>
        <tr>
          <th class="text-nowrap">アイテム説明</th>
          <td>
            <%= simple_format(@item.explanation) %>
          </td>
        </tr>
      </tbody>
    </table>
    
    <% if current_user == @item.user %>
      <div class="d-flex justify-content-center my-4">
        <%= link_to "編集する", edit_item_path(@item), class: "mx-2 btn btn-outline-primary rounded-pill" %>
      
        <% if @item.done == nil %>
          <%= button_to '取引済みにする', completed_item_path(@item), class: "mx-2 btn btn-outline-danger rounded-pill" %>
        <% else %>
          <%= button_to '取引済みを解除', incomplete_item_path(@item), class: "mx-2 btn btn-outline-danger rounded-pill" %>
        <% end %>
      
        <%= link_to '削除する', @item, method: :delete, data: { confirm: '本当にこのアイテムを削除してよろしいですか？' }, class: "btn btn-danger rounded-pill" %>
      </div>
    <% else %>
      <div class="d-flex justify-content-center">
        <%= form_with model: Chatroom.new, local: true do |f| %>
          <%= f.hidden_field :exhibitor_id, value: @item.user.id %>
          <%= f.hidden_field :wanter_id, value: current_user %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.submit 'ルームを作成', class: 'my-4 btn btn-primary rounded-pill'%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>