<h2>受取ルーム一覧</h2>
  
  <% @chatrooms.each do |chatroom| %>
      <div>
       <%= image_tag chatroom.item.image.url, size: "100x100" if chatroom.item.image? %>
       <%= link_to chatroom.item.name, item_path(chatroom.item) %>
       <%= link_to chatroom.exhibitor.name, profile_show_user_path(chatroom.exhibitor_id) %>
       <%= link_to chatroom.wanter.name, profile_show_user_path(chatroom.wanter_id) %>
       <%= link_to '会話をする', chatroom_path(chatroom.id) %>
      </div>
  <% end %>
  
  <%= paginate @chatrooms %>