<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/">SKDIC</a>
      <% if logged_in? %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse d-flex justify-content-end"  id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to "ユーザー", user_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "マイプロフィール", profile_show_user_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "アイテム登録", new_item_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "アイテム一覧", items_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "出品ルーム", chatrooms_path(current_user), class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to "受取ルーム", other_chatrooms_path(current_user), class: 'nav-link' %></li>
          </ul>
        </div>
        
        <div class="d-flex justify-content-end">
          <a data-method="delete" href="<%= logout_path %>" class="ml-5 btn btn-outline-primary">ログアウト</a>
        </div>
    
      <% else %>
        <div class="mr-auto"></div>
    
        <div>
          <a href="<%= signup_path(@user)%>" class="btn btn-danger mx-2 py-0">新規登録</a>
          <a href="<%= login_path(@user) %>" class="btn btn-outline-primary py-0">ログイン</a>
        </div>
      <% end %>
</header>